.Products {
  display: grid;
  grid-template-areas: "filters tableItems";
  grid-template-rows: auto;
  grid-template-columns: 3fr 9fr;
}

.productsFiltersHolder{
  grid-area: filters;
  background-color: #f2f2f2;
}

.productsTableHolder{
  grid-area: tableItems;
  background-color: #fafafa;
}

.Products .productsFiltersHolder, .Products .productsTableHolder{
  padding: 2rem;
}

#product-table {
  display: flex;
  flex-direction: column;
}

input[type=text], input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #72bcd4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #72bcd4;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 1em 1em;
}

ul li {
  padding: 0.25em;
  border: 1px solid gray;
  margin: 0.5em 0;
  border-radius: 3px;
  width: 100%;
}

#list-item {
  left: 0px;
  width: 25%;
  display: flex;
  justify-content: space-between;
}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

/* 
  =toggle-columns 
  Needs to be refactored 
  it should be moved to columnTooggle.js 
*/
.toggle-columns{
  width: 100%;
}

.toggle{
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;

  margin-bottom: 0.5rem;
  padding: 0.5rem;

  border-radius: 0.5rem;
  border: 0.5px solid #cacaca;
}

.toggle > label{
  flex-grow: 3;
}

.toggle > input{
  margin-right: auto;
}
